<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="characters"></ion-back-button>
    </ion-buttons>
    <ion-title>{{character.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-avatar class="avatar">
              <img [src]="character.image" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>
              Level: <b>{{character.level}}°</b><br />
              Class: <b>{{character.class}}</b><br />
              Race: <b>{{character.race}}</b><br />
              Gender: <b>{{character.gender}}</b><br />
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row class="ion-align-items-center">
      <ion-col class="text-right" size="4">
        <h1>Level</h1>
      </ion-col>
      <ion-col class="text-center" size="4">
        <ion-button (click)="levelUp()"
          ><ion-icon name="caret-up-outline" slot="icon-only"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col class="text-left" size="4">
        <ion-button (click)="levelDown()"
          ><ion-icon name="caret-down-outline" slot="icon-only"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-col class="ion-no-padding titulos">
        <ion-card-title>Character Story:</ion-card-title>
        <ion-card-subtitle>
          Put here your character description!
        </ion-card-subtitle>
      </ion-col>
    </ion-card-header>
    <ion-button class="edit-btn" expand="block">Edit</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Abilities</ion-card-title>
      <ion-row>
        <ion-col size="6"> Strength: </ion-col>
        <ion-col size="6">
          {{character.atrib.strength}} ({{
          calculateMod(character.atrib.strength) }})
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Dexterity:</ion-col>
        <ion-col size="6">
          {{character.atrib.dexterity}} ({{
          calculateMod(character.atrib.dexterity) }})
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Constitution: </ion-col>
        <ion-col size="6">
          {{character.atrib.constitution}} ({{
          calculateMod(character.atrib.constitution) }})
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Intelligence: </ion-col>
        <ion-col size="6">
          {{character.atrib.intelligence}} ({{
          calculateMod(character.atrib.intelligence) }})
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Wisdom: </ion-col>
        <ion-col size="6">
          {{character.atrib.wisdom}} ({{ calculateMod(character.atrib.wisdom)
          }})
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Charisma: </ion-col>
        <ion-col size="6">
          {{character.atrib.charisma}} ({{
          calculateMod(character.atrib.charisma) }})
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-col class="ion-no-padding titulos">
        <ion-card-title>Itens</ion-card-title>
        <ion-card-subtitle> {{character.itensList}} </ion-card-subtitle>
      </ion-col>
    </ion-card-header>
    <ion-button class="edit-btn" expand="block">Edit</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-col class="ion-no-padding titulos">
        <ion-card-title>Spells</ion-card-title>
        <ion-card-subtitle>{{character.spellsList}}</ion-card-subtitle>
      </ion-col>
    </ion-card-header>
    <ion-button class="edit-btn" expand="block">Edit</ion-button>
  </ion-card>
</ion-content>
