<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="characters"></ion-back-button>
    </ion-buttons>
    <ion-title>Character Name Here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
      </ion-col>
      <ion-card-header>
        <ion-col class="ion-no-padding titulos">
          <ion-card-title>Descrição e Blá Blá Blá</ion-card-title>
        </ion-col>
      </ion-card-header>
    </ion-row>
  </ion-card>
</ion-content>
