.avatar_character img {
  width: 30%;
  height: 30%;
}

.edit-btn {
  margin: 10px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.avatar {
  --border-radius: 5px;
  width: 150px;
  height: 150px;
}