<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Regra</ion-card-title>
        <p>Blah Blah Blah</p>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Regra</ion-card-title>
        <p>Blah Blah Blah</p>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Regra</ion-card-title>
        <p>Blah Blah Blah</p>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>

<bottom-bar></bottom-bar>
