<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Rule I</ion-card-title>
        <p>Don't punch your friends (very importatant).</p>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Rule II</ion-card-title>
        <p>Eat potato! :)</p>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Rule III</ion-card-title>
        <p>Just don't be dumb, ok?</p>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>

<bottom-bar></bottom-bar>
