<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item lines="full" lines="none">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label> Dark Theme </ion-label>
      <ion-toggle [(ngModel)]="isDark" (ionChange)="themeToggle($event)" slot="end"></ion-toggle>
    </ion-item>
    <ion-item lines="full" lines="none">
      <ion-button class="reset-btn" (click)="resetBtn()">
        <ion-icon slot="start" name="trash"></ion-icon>
        Reset Everything
      </ion-button>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content> </ion-content>

<bottom-bar></bottom-bar>
