.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 15px;
}

.description-layout {
    margin: 4px;
    padding: 10px;
}

.title {
    font-weight: bold;
}

.description {
    font-size: 17px;
}

ion-icon {
    display: inline-block;
    vertical-align: middle;
}