.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 15px;
}

.description-layout {
    margin: 4px;
    padding: 10px;
}

.title {
    font-weight: bold;
}

.description {
    font-size: 17px;
}

.item {
    display: block !important;
    width: 100% !important;
    color: white;
    padding: 15px;
    margin: 5px 0 5px 0;
    border: white 1px solid;
    border-radius: 5px;
}