<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{element.data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Ability Scores-->
  <ng-template [ngIf]="element.type === 'ability-scores'">
    <ion-card>
      <ion-card-header>
        <ion-card-title> {{element.data.full_name}} </ion-card-title>
        <ion-card-content> {{element.data.desc}} </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ng-template>
  <!--Ability Scores - End-->

  <!--Skills-->
  <ng-template [ngIf]="element.type === 'skills'">
    <ion-router-link (click)="redirectToElement(element.data.ability_score)">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Ability Score </ion-card-title>
          <ion-card-content>
            {{element.data.ability_score.name}}
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-router-link>

    <ion-card>
      <ion-card-header>
        <ion-card-title> Description </ion-card-title>
        <ion-card-content> {{element.data.desc}} </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ng-template>
  <!--Skills - End-->

  <!--Classes-->

  <ng-template [ngIf]="element.type === 'classes'">
    <ion-router-link (click)="redirectToElement(element)">
      <ion-card>
        <ion-card-title>Levels</ion-card-title>
      </ion-card>
    </ion-router-link>

    <h1 class="text-center">Proficiencies</h1>
    <ion-router-link
      *ngFor="let proficiency of element.data.proficiencies"
      (click)="redirectToElement(proficiency)"
    >
      <ion-card>
        <ion-row class="ion-align-items-center">
          <ion-card-header>
            <ion-col class="ion-no-padding titulos">
              <ion-card-title>{{proficiency.name}}</ion-card-title>
            </ion-col>
          </ion-card-header>
        </ion-row>
      </ion-card>
    </ion-router-link>

    <h1 class="text-center">Proficiency Choices</h1>
    <h3 class="text-center">
      Choose {{element.data.proficiency_choices[0].choose}} from
    </h3>
    <ion-router-link
      *ngFor="let proficiency of element.data.proficiency_choices[0].from"
      (click)="redirectToElement(proficiency)"
    >
      <ion-card>
        <ion-row class="ion-align-items-center">
          <ion-card-header>
            <ion-col class="ion-no-padding titulos">
              <ion-card-title>{{proficiency.name}}</ion-card-title>
            </ion-col>
          </ion-card-header>
        </ion-row>
      </ion-card>
    </ion-router-link>

    <h1 class="text-center">Saving Throws</h1>
    <span>
      <ion-router-link
        *ngFor="let saving_throw of element.data.saving_throws"
        (click)="redirectToElement(saving_throw)"
      >
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title>{{saving_throw.name}}</ion-card-title>
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </span>

    <h1 class="text-center">Starting Equipment</h1>
    <span>
      <ion-router-link
        *ngFor="let starting_equip of element.data.starting_equipment"
        (click)="redirectToElement(starting_equip.equipment)"
      >
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title
                  >{{starting_equip.quantity}} -
                  {{starting_equip.equipment.name}}</ion-card-title
                >
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </span>

    <!--
    <h1 class="text-center">Starting Equipment Options</h1>
    <h3 class="text-center">Choose {{element.data.starting_equipment_options[0].choose}} from </h3>
    <ion-router-link *ngFor="let starting_equip_opt of element.data.starting_equipment_options[0].from" (click)="redirectToElement(starting_equip_opt)">
      <ion-card>
        <ion-row class="ion-align-items-center">
          <ion-card-header>
            <ion-col class="ion-no-padding titulos">
              <ion-card-title>{{starting_equip_opt.quantity}} - {{starting_equip_opt.equipment.name}}</ion-card-title>
            </ion-col>
          </ion-card-header>
        </ion-row>
      </ion-card>
    </ion-router-link>
    <h3 class="text-center">Choose {{element.data.starting_equipment_options[1].choose}} from </h3>
    <ion-router-link *ngFor="let starting_equip_opt of element.data.starting_equipment_options[1].from" (click)="redirectToElement(starting_equip_opt)">
      <ion-card>
        <ion-row class="ion-align-items-center">
          <ion-card-header>
            <ion-col class="ion-no-padding titulos">
              <ion-card-title>{{starting_equip_opt.quantity}} - {{starting_equip_opt.equipment.name}}</ion-card-title>
            </ion-col>
          </ion-card-header>
        </ion-row>
      </ion-card>
    </ion-router-link>
  -->

    <h1 class="text-center">Subclass</h1>
    <span>
      <ion-router-link
        *ngFor="let subclass of element.data.subclasses"
        (click)="redirectToElement(subclass)"
      >
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title>{{subclass.name}}</ion-card-title>
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </span>
  </ng-template>

  <!--Classes - End-->

  <!--Subclasses-->

  <ng-template [ngIf]="element.type === 'subclasses'">
    <h1 class="text-center">Class: {{element.data.class.name}}</h1>

    <ion-card class="description-layout">
      <ion-card-title class="description">
        {{element.data.desc}}
      </ion-card-title>
    </ion-card>
  </ng-template>

  <!--Subclasses - End-->

  <!--Features-->

  <ng-template [ngIf]="element.type === 'features'">
    <h1 class="text-center">Class: {{element.data.class.name}}</h1>

    <h2 class="text-center">Level {{element.data.level}}</h2>

    <ion-card class="description-layout">
      <ion-card-title class="description">
        {{element.data.desc}}
      </ion-card-title>
    </ion-card>

    <ion-router-link> </ion-router-link>
  </ng-template>

  <!--Features - End-->

  <!--Proficiencies-->

  <ng-template [ngIf]="element.type === 'proficiencies'">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Type </ion-card-title>
        <ion-card-subtitle> {{element.data.type}} </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ng-template [ngIf]="element.data.classes.length > 0">
      <h1 class="text-center">Classes</h1>
      <ion-router-link *ngFor="let class of element.data.classes">
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title> {{class.name}} </ion-card-title>
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </ng-template>

    <ng-template [ngIf]="element.data.races.length > 0">
      <h1 class="text-center">Races</h1>
      <ion-router-link *ngFor="let race of element.data.races">
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title> {{race.name}} </ion-card-title>
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </ng-template>
  </ng-template>

  <!--Proficiencies -  End-->

  <!--Races-->

  <ng-template [ngIf]="element.type === 'races'">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title"> Ability Bonuses </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 *ngFor="let ability_bonus of element.data.ability_bonuses">
          {{ability_bonus.bonus}} in
          <span
            (click)="redirectToElement(ability_bonus.ability_score)"
            style="font-weight: bolder"
            >{{ability_bonus.ability_score.name}}</span
          >
        </h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="title"> Age </ion-card-title>
      </ion-card-header>
      <ion-card-content> {{element.data.age}} </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="title"> Alignment </ion-card-title>
      </ion-card-header>
      <ion-card-content> {{element.data.alignment}} </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="title"> Laguages </ion-card-title>
      </ion-card-header>
      <ion-card-content> {{element.data.language_desc}} </ion-card-content>
    </ion-card>

    <!--
    <ion-router-link
      *ngFor="let language of element.data.languages"
      (click)="redirectToElement(language)"
    >
      <ion-card>
        <ion-card-header>
          <ion-card-title> {{language.name}} <ion-icon name="chevron-forward-outline"></ion-icon> </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link> -->

    <ion-card>
      <ion-card-header>
        <ion-card-title> Size </ion-card-title>
        <ion-card-subtitle> {{element.data.size}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-template>

  <!--Races - End-->

  <!--Subraces-->

  <ng-template [ngIf]="element.type === 'subraces'">
    <h1 class="text-center">Race: {{element.data.race.name}}</h1>

    <ion-card class="description-layout">
      <ion-card-title class="description">
        {{element.data.desc}}
      </ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="title"> Ability Bonuses </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 *ngFor="let ability_bonus of element.data.ability_bonuses">
          {{ability_bonus.bonus}} in
          <span
            (click)="redirectToElement(ability_bonus.ability_score)"
            style="font-weight: bolder"
            >{{ability_bonus.ability_score.name}}</span
          >
        </h2>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <!--Subraces - End-->

  <!--Languages-->

  <ng-template [ngIf]="element.type === 'languages'">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Speakers </ion-card-title>
        <ion-card-title *ngFor="let speakers of element.data.typical_speakers">
          {{speakers}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>

  <!--Languages - End-->

  <!--Traits-->

  <ng-template [ngIf]="element.type === 'traits'"> </ng-template>

  <!--Traits - End-->

  <!--Equipment-->

  <ng-template [ngIf]="element.type === 'equipment'">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Cost </ion-card-title>
        <ion-card-subtitle>
          {{element.data.cost.quantity}}{{element.data.cost.unit}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ng-template [ngIf]="element.data.desc != null">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Description </ion-card-title>
          <ion-card-content> {{element.data.desc}} </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ng-template>

    <ion-card>
      <ion-card-header>
        <ion-card-title> Equipment Category </ion-card-title>
        <ion-card-subtitle>
          {{element.data.equipment_category.name}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ng-template [ngIf]="element.data.equipment_category.name === 'Weapon'">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Category Range </ion-card-title>
          <ion-card-subtitle>
            {{element.data.category_range}}
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ng-template>
  </ng-template>

  <!--Equipment -  End-->

  <!--Spells-->

  <ng-template [ngIf]="element.type === 'spells'">
    <ion-card class="description-layout" *ngIf="element.data.desc">
      <ion-card-title class="description">
        {{element.data.desc}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.higher_level">
      <ion-card-title
        class="description"
        *ngFor="let higherLevel of element.data.higher_level"
      >
        {{higherLevel}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.casting_time">
      <ion-card-title class="description">
        Casting Time: {{element.data.casting_time}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.attack_type">
      <ion-card-title class="description">
        Attack Type: {{element.data.attack_type}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.range">
      <ion-card-title class="description">
        Range: {{element.data.range}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.level">
      <ion-card-title class="description">
        Level: {{element.data.level}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.ritual">
      <ion-card-title class="description">
        Ritual: {{element.data.ritual}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.duration">
      <ion-card-title class="description">
        Duration: {{element.data.duration}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.concentration">
      <ion-card-title class="description">
        Concentration: {{element.data.concentration}}
      </ion-card-title>
    </ion-card>

    <ion-card class="description-layout" *ngIf="element.data.material">
      <ion-card-title class="description"> Material Component </ion-card-title>
      <ion-card-subtitle> {{element.data.material}} </ion-card-subtitle>
      <span>Components: </span>
      <span *ngFor="let component of element.data.components">
        {{component}}
      </span>
    </ion-card>

    <ion-router-link
      (click)="redirectToElement(element.data.school)"
      *ngIf="element.data.school"
    >
      <ion-card>
        <ion-card-header>
          <ion-card-title class="title"> School </ion-card-title>
          <ion-card-subtitle> {{element.data.school.name}} </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-router-link>

    <div *ngIf="element.data.damage">
      <h1 class="text-center">Damage</h1>
      <ion-router-link
        (click)="redirectToElement(element.data.damage.damage_type)"
      >
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title *ngIf="element.data.damage.damage_type"
                  >{{element.data.damage.damage_type.name}}</ion-card-title
                >
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </div>

    <div *ngIf="element.data.dc">
      <h1 class="text-center">DC</h1>
      <ion-card class="description-layout" *ngIf="element.data.dc.desc">
        <ion-card-title class="description">
          {{element.data.dc.desc}}
        </ion-card-title>
      </ion-card>
      <ion-router-link (click)="redirectToElement(element.data.dc.dc_type)">
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title *ngIf="element.data.dc.dc_type"
                  >{{element.data.dc.dc_type.name}}</ion-card-title
                >
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </div>

    <div *ngIf="element.data.subclasses">
      <h1 class="text-center">Subclass</h1>
      <ion-router-link
        *ngFor="let subclass of element.data.subclasses"
        (click)="redirectToElement(subclass)"
      >
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title>{{subclass.name}}</ion-card-title>
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </div>

    <div *ngIf="element.data.classes">
      <h1 class="text-center">Classes</h1>
      <ion-router-link
        *ngFor="let class of element.data.classes"
        (click)="redirectToElement(class)"
      >
        <ion-card>
          <ion-row class="ion-align-items-center">
            <ion-card-header>
              <ion-col class="ion-no-padding titulos">
                <ion-card-title> {{class.name}} </ion-card-title>
              </ion-col>
            </ion-card-header>
          </ion-row>
        </ion-card>
      </ion-router-link>
    </div>
  </ng-template>

  <!--Spells - End-->

  <!--Monsters-->

  <ng-template [ngIf]="element.type === 'monsters'">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Type : {{element.data.type}} </ion-card-title>

        <ion-card-title> Size : {{element.data.size}} </ion-card-title>

        <ion-card-title>
          Alignment : {{element.data.alignment}}
        </ion-card-title>

        <ion-card-title>
          Hit Points : {{element.data.hit_points}}
        </ion-card-title>

        <ion-card-title> Hit Dice : {{element.data.hit_dice}} </ion-card-title>

        <ion-card-title>
          Speed : Walk {{element.data.speed.walk}}
          <ng-template [ngIf]="element.data.speed.swim != null"
            >Swim {{element.data.speed.swim}}
          </ng-template>
          <ng-template [ngIf]="element.data.speed.fly != null"
            >Fly {{element.data.speed.fly}}
          </ng-template>
        </ion-card-title>

        <ion-card-title>
          Armor Class : {{element.data.armor_class}}
        </ion-card-title>

        <ion-card-title> STR : {{element.data.strength}} </ion-card-title>

        <ion-card-title> DEX : {{element.data.dexterity}} </ion-card-title>

        <ion-card-title> CON : {{element.data.constitution}} </ion-card-title>

        <ion-card-title> INT : {{element.data.intelligence}} </ion-card-title>

        <ion-card-title> WIS : {{element.data.wisdom}} </ion-card-title>

        <ion-card-title> CHA : {{element.data.charisma}} </ion-card-title>

        <ng-template [ngIf]="element.data.condition_immunities.length > 0">
          <ion-card-title>
            Condition Immunities :
            <span *ngFor="let info of element.data.condition_immunities"
              >{{info.name}}
            </span>
          </ion-card-title>
        </ng-template>

        <ng-template [ngIf]="element.data.damage_immunities.length > 0">
          <ion-card-title>
            Damage Immunities :
            <span *ngFor="let info of element.data.damage_immunities"
              >{{info}}
            </span>
          </ion-card-title>
        </ng-template>

        <ng-template [ngIf]="element.data.damage_resistances.length > 0">
          <ion-card-title>
            Damage Resistances :
            <span *ngFor="let info of element.data.damage_resistances"
              >{{info}}
            </span>
          </ion-card-title>
        </ng-template>

        <ng-template [ngIf]="element.data.damage_vulnerabilities.length > 0">
          <ion-card-title>
            Damage Vulnerabilities :
            <span *ngFor="let info of element.data.damage_vulnerabilities"
              >{{info}}
            </span>
          </ion-card-title>
        </ng-template>

        <ion-card-title>
          Languages : {{element.data.languages}}
        </ion-card-title>

        <ng-template [ngIf]="element.data.proficiencies.length > 0">
          <ion-card-title>
            Proficiencies:
            <span *ngFor="let prof of element.data.proficiencies"
              >{{prof.proficiency.name}}
            </span>
          </ion-card-title>
        </ng-template>

        <ion-card-title>
          Senses :
          <ng-template [ngIf]="element.data.senses.darkvision != null">
            Darkvision {{element.data.senses.darkvision}}
          </ng-template>
          <ng-template [ngIf]="element.data.senses.blindsight != null">
            Blindsight {{element.data.senses.blindsight}}
          </ng-template>
          Passive Perception {{element.data.senses.passive_perception}}
        </ion-card-title>

        <ng-template [ngIf]="element.data.special_abilities != 0">
          <ng-template [ngIf]="element.data.special_abilities.length > 0">
            <span *ngFor="let special_ab of element.data.special_abilities">
              <ion-card-title> {{special_ab.name}} </ion-card-title>
              <ion-card-subtitle> {{special_ab.desc}} </ion-card-subtitle>
            </span>
          </ng-template>
        </ng-template>

        <ion-card-title>
          Challenge Rating : {{element.data.challenge_rating}}
        </ion-card-title>

        <ion-card-title> XP : {{element.data.xp}} </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
