<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label>Topic</ion-label>
    <ion-select interface="popover" [(ngModel)]="type" (ionChange)="forceSearchType()">
      <ion-select-option value="ability-scores">Ability Scores</ion-select-option>
      <ion-select-option value="skills">Skills</ion-select-option>
      <ion-select-option value="proficiencies">Proficiencies</ion-select-option>
      <ion-select-option value="alignment">Alignment</ion-select-option>
      <ion-select-option value="monsters">Monsters</ion-select-option>
      <ion-select-option value="classes">Classes</ion-select-option>
      <ion-select-option value="races">Races</ion-select-option>
      <ion-select-option value="languages">Languages</ion-select-option> 
      <ion-select-option value="equipment">Equipment</ion-select-option> 
      <ion-select-option value="spells">Spells</ion-select-option>
      <ion-select-option value="monsters">Monsters</ion-select-option>
      <ion-select-option value="backgrounds">Backgrounds</ion-select-option>

    </ion-select>
  </ion-item>
  <div [ngSwitch]="type">
    <ion-item *ngSwitchCase="'classes'">
      <ion-label>Sub Topic</ion-label>
      <ion-select interface="popover" [(ngModel)]="subtype" (ionChange)="forceSearchSubType()">
        <ion-select-option value="classes">Classes</ion-select-option>
        <ion-select-option value="subclasses">Subclasses</ion-select-option>
        <ion-select-option value="features">Features</ion-select-option>
        <ion-select-option value="proficiencies">Proficiencies</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngSwitchCase="'races'">
      <ion-label>Sub Topic</ion-label>
      <ion-select interface="popover" [(ngModel)]="subtype" (ionChange)="forceSearchSubType()">
        <ion-select-option value="races">Races</ion-select-option>
        <ion-select-option value="subraces">Subraces</ion-select-option>
        <ion-select-option value="traits">Traits</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngSwitchCase="'equipment'">
      <ion-label>Sub Topic</ion-label>
      <ion-select interface="popover" [(ngModel)]="subtype" (ionChange)="forceSearchSubType()">
        <ion-select-option value="equipment">Equipment</ion-select-option>
        <ion-select-option value="magic-items">Magic Items</ion-select-option>
        <ion-select-option value="weapon-properties">Weapon Properties</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-searchbar
    placeholder="Type here to search"
    debounce="500"
    animated
    (ionChange)="onSearch($event);"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-router-link *ngFor="let element of elementsList | keyvalue" (click)="redirectToElement(element.key)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{element.value.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>
  </ion-list>
</ion-content>

<bottom-bar></bottom-bar>
