<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="characters"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Character</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center">
      <img [src]="newCharacter.image" />

      <ion-item>
        <ion-label> Link </ion-label>
        <ion-input (ionChange)="updateImage($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="newCharacter.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-input [(ngModel)]="newCharacter.gender"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Race</ion-label>
        <ion-select placeholder="Select a Race" [(ngModel)]="newCharacter.race">
          <ion-select-option value="Dwarf">Dwarf</ion-select-option>
          <ion-select-option value="Elf">Elf</ion-select-option>
          <ion-select-option value="Halfling">Halfling</ion-select-option>
          <ion-select-option value="Human">Human</ion-select-option>
          <ion-select-option value="Dragonborn">Dragonborn</ion-select-option>
          <ion-select-option value="Gnome">Gnome</ion-select-option>
          <ion-select-option value="Halfelf">Half-elf</ion-select-option>
          <ion-select-option value="Halforc">Half-orc</ion-select-option>
          <ion-select-option value="Tiefling">Tiefling</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select
          placeholder="Select a Class"
          [(ngModel)]="newCharacter.class"
        >
          <ion-select-option value="Barbarian">Barbarian</ion-select-option>
          <ion-select-option value="Bard">Bard</ion-select-option>
          <ion-select-option value="Warlock">Warlock</ion-select-option>
          <ion-select-option value="Cleric">Cleric</ion-select-option>
          <ion-select-option value="Druid">Druid</ion-select-option>
          <ion-select-option value="Sorcerer">Sorcerer</ion-select-option>
          <ion-select-option value="Fighter">Fighter</ion-select-option>
          <ion-select-option value="Rogue">Rogue</ion-select-option>
          <ion-select-option value="Mage">Mage</ion-select-option>
          <ion-select-option value="Monk">Monk</ion-select-option>
          <ion-select-option value="Paladin">Paladin</ion-select-option>
          <ion-select-option value="Ranger">Ranger</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Alignments</ion-label>
        <ion-select placeholder="Select a Race" [(ngModel)]="newCharacter.alignment">
          <ion-select-option value="Lawful good (LG)">Lawful good (LG)</ion-select-option>
          <ion-select-option value="Neutral good (NG)">Neutral good (NG)</ion-select-option>
          <ion-select-option value="Chaotic good (CG)">Chaotic good (CG)</ion-select-option>
          <ion-select-option value="Lawful neutral (LN)">Lawful neutral (LN)</ion-select-option>
          <ion-select-option value="Neutral (N)">Neutral (N)</ion-select-option>
          <ion-select-option value="Chaotic neutral (CN)">Chaotic neutral (CN)</ion-select-option>
          <ion-select-option value="Lawful evil (LE)">Lawful evil (LE)</ion-select-option>
          <ion-select-option value="Neutral evil (NE)">Neutral evil (NE)</ion-select-option>
          <ion-select-option value="Chaotic evil (CE)">Chaotic evil (CE)</ion-select-option>
        </ion-select>
      </ion-item>

      <br />

      <ion-button
        (click)="submitCharacter()"
        routerLinkActive="router-link-active"
        expand="block"
      >
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
