.avatar{
 --border-radius: 5px;
 margin-left: 6px;
}

.fab-margin {
  margin-bottom: 0px;
}

ion-list {
  background-color: transparent !important;
}

.text-fix {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.character {
  transition: background-color 0.1s linear;
}

.delete {
  background-color: rgba(163, 24, 24, 0.533) !important;
}
